\.idea/
log/
record/
core/__pycache__/
*.pyc

public/postgdata/

public/result/

public/users.sqlite

create_manifest.py

public/prism/drivers/brother_ql700/wip/


.vscode/settings.json

public/prism/scripts/a43/temp/

public/prism/drivers/A4401_BOND/server/libraries/ArduinoJson/extras/
public/prism/drivers/A4401_BOND/server/libraries/ArduinoJson/examples/
