pyserial==3.5
pyvisa==1.15.0
PyVISA-py==0.8.1
pyusb==1.3.1
qrcode==8.2
numpy==2.2.6
adafruit-ampy==1.1.0
jstyleson==0.0.2
rshell==0.0.36
pyftdi==0.57.1
brother_ql==0.9.4
arduino-simple-rpc==2.4.2
wget==3.2
PyPubSub==4.0.3
fpdf==1.7.2
requests==2.32.4
pycryptodome==3.23.0
py-bcrypt==0.4
peewee==3.18.3
filehash==0.2.dev1
deepdiff==8.6.1
email-validator==2.3.0
python-rapidjson==1.22
pyudev==0.24.4
bleak==1.1.1
cbor2==5.8.0
