pyserial==3.5
pyvisa==1.13.0
PyVISA-py==0.7.0
pyusb==1.2.1
qrcode==7.4.2
numpy==1.25.2
adafruit-ampy==1.1.0
jstyleson==0.0.2
rshell==0.0.31
pyftdi==0.55.0
brother_ql==0.9.4
arduino-simple-rpc==2.4.2
wget==3.2
PyPubSub==4.0.3
fpdf==1.7.2
requests==2.31.0
pycryptodome==3.19.1
py-bcrypt==0.4
peewee==3.16.3
filehash==0.2.dev1
deepdiff==8.6.1
email-validator==2.0.0.post2
python-rapidjson==1.10
pyudev==0.24.1
bleak==0.22.3
