[req]
prompt                 = no
default_md             = sha256
default_bits           = 4096
distinguished_name     = req_dn
x509_extensions	       = x509_ext

[ req_dn ]
commonName             = prism_lente
# countryName            = CA
# stateOrProvinceName    = Ontario
# localityName           = Toronto
# organizationName       = sistemi.ca

[ x509_ext ]
subjectAltName           = URI:urn:sistemi.ca:prism_lente
basicConstraints         = CA:FALSE
keyUsage                 = dataEncipherment, keyEncipherment, nonRepudiation, digitalSignature, keyCertSign
extendedKeyUsage         = serverAuth, clientAuth

